<html>
    <head>
        <title>BLOOD COMPATIBILITY</title>
        <h1 align="center">Blood Type Compatibility Chart</h1>
    </head>
    <body>
        <h1></h1>
        <h1 align="center"></h1>
        <table border="1" align="center">
            <tr>
                <td>BLOOD TYPE</td>
                <td>CAN DONATE TO</td>
                <td>CAN RECEIVE FROM</td>
            </tr>
            <tr>
                <td align="center">O+</td>
                <td>O+, A+, B+, AB+</td>
                <td>O+, O-</td>
            </tr>
            <tr>
                <td align="center">O-</td>
                <td>EVERYONE</td>
                <td>O-</td>
            </tr>
            <tr>
                <td align="center">A+</td>
                <td>A+, AB+</td>
                <td>A+, A-, O+, O-</td>
            </tr>
            <tr>
                <td align="center">A-</td>
                <td>A+, A-, AB+, AB-</td>
                <td>A-, O-</td>
            </tr>
            <tr>
                <td align="center">B+</td>
                <td>B+, AB+</td>
                <td>B+, B-, O+, O-</td>
            </tr>
            <tr>
                <td align="center">B-</td>
                <td>B+, B-, AB+, AB-</td>
                <td>B-, O-</td>
            </tr>
            <tr>
                <td align="center">AB+</td>
                <td>AB+</td>
                <td>EVERYONE</td>
            </tr>
            <tr>
                <td align="center">AB-</td>
                <td>AB+, AB-</td>
                <td>AB-, A-, B-, O-</td>
            </tr>
        </table>
        <h2 align="center"><a href="/">HOME</a></h2>
        
    </body>
</html>