<html>
    <head>
        <title>donor edit</title>
    </head>
    <body>
        <fieldset>
            <form action="/doupdate" method="post">
                <table>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" value={{x[0]}} name="name"></td>
                    </tr>
                    <tr>
                        <td>DOB:</td>
                        <td><input type="date" value={{x[1]}}  name="dob"></td>
                    </tr>
                    <tr>
                        <td>Blood group:</td>
                        <td><SELECT name="blood_group">
                        <option value={{x[2]}}></option>
                        <option value="A+">A+</option>
                        <option value="B+">B+</option>
                        <option value="AB+">AB+</option>
                        <option value="A-">A-</option>
                        <option value="B-">B-</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        </SELECT></td>
                    </tr>
                    <tr>
                        <td>Last donated:</td>
                        <td><input type="date" value="{{x[3]}}"  name="last_donated"></td>
                    </tr>
                    <tr>
                        <td>Phone no:</td>
                        <td><input type="number" value={{x[4]}}  name="phone_no"></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="email" value={{x[5]}} name="email"></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" value={{x[6]}}  name="password"></td>
                    </tr>
                    <tr>
                        <td>Area:</td>
                        <td><input type="text" value={{x[7]}}  name="area"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="submit"></td>
                        <td><input type="reset" name="refresh"></td>
    
                    </tr>
                </table>
            </form>
        </fieldset>
    </body>
</html>