<html>
    <head>
        <title>HOME</title>
        <style>
            #page
            {
                background-color: rgb(116, 203, 193);
            }
            #div1{
                width:50%;
                float:left;
            }
            #div2{
                width:50%;
                float:right;
            }
 
        </style>
    </head>
    <body id="page">
        <h2 align="center">WELCOME TO</h2>
        <h1 align="center">BLOOD IN NEED</h1>
        <br>
        <br>

        <h2 align="center"><div id="div1">Register as:</div></h2><br>
        <h2 align="center"><div id="div2">Login as:</div></h2><br>
        <h2 align="center"><div id="div1">Donor:</div></h2>
        <h2 align="center"><div id="div2"><a href="/Dlogin">Donor</a></div></h2>
        <h2 align="center"><div id="div1"><a href="/Dregistration">donor register</a></div></h2><br>
        <h2 align="center"><div id="div2"><a href="/Rlogin">Recipient</a></div></h2>
        <h2 align="center"><div id="div1">Recipient:</div></h2><br>
        <h2 align="center"><div id="div2"><a href="/Alogin">Admin</a></div></h2>
        <h2 align="center"><div id="div1"><a href="/Rregistration">recipient register</a></div></h2><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 align="center">DONATE BLOOD, SAVE LIFE</h2>
        <h2 align="center"><a href="/blood">Blood info</a></h2>
    </body>
</html>
