<html>

<head>
    <title>login recipient</title>
</head>

<body>
    <h1>Welcome to Recipient Login page</h1>

    <fieldset>
        <form action="/RLcheck" method="post">
            <table>
                <tr>
                    <td>email</td>
                    <td><input type="email" name="email"></td>
                </tr>
                <tr>
                    <td>password</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td><input type="submit" name="submit"></td>
                    <td><input type="reset" name="refresh"></td>
                </tr>
            </table>
        </form>

    </fieldset>
    <h2><a href="/">HOME</a></h2>

</body>

</html>